

// @import 'node_modules/font-awesome/scss/font-awesome.scss';
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~admin-lte/dist/css/AdminLTE.css";
@import "~admin-lte/dist/css/adminlte.css.map";
@import "~admin-lte/bower_components/bootstrap/dist/css/bootstrap.css";
@import "~admin-lte/dist/css/skins/_all-skins.css";
//@import "~admin-lte/dist/dist/img/";
// @import "~public/fonts/font-awesome.scss";
// @import "node_modules/font-awesome/scss/font-awesome";
 $fa-font-path: "../../../node_modules/font-awesome/fonts" !default;
 @import "node_modules/font-awesome/css/font-awesome";
// @import "node_modules/font-awesome/scss/font-awesome.scss"; 
//@import "~font-awesome/scss/font-awesome";
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
